$master-max-width: 550px;
$master-min-height: 10em;

$primary-white: #fff;
$primary-gray: #ccc;
$intense-orange: #FF5F04;
$burnt-orange: #FF9D65;
$orangey-white: #FFE4D4;

$break-small: 800px;

body {
  font-family: 'Montserrat', sans-serif;
  background: $primary-gray url('../assets/clock.jpg') no-repeat top center;
  background-size: 100%;
  @media (max-width: $break-small) {
    background-color: $intense-orange;
  }
}

.master-container {
  margin: 0 auto;
  background-color: $primary-white;
  border-left: 7px solid $intense-orange;
  border-right: 7px solid $intense-orange;
  border-radius: 40px;
  padding: 1vh 11.5vw;

  max-width: $master-max-width;
  min-height: $master-min-height;
  font-size: 1.75em;
  @media (max-width: $break-small) {
    top: 0;
    left: 0;
    margin: 0 auto;
    font-size: 4vw;
  }

  .inputs-container {
    label {
      text-align: center;
    }
    input {
      font-size: 1em;
      text-align: center;
      padding: 0;
    }
    input:focus {
      background-color: $orangey-white;
      color: $intense-orange;
    }
  }

  .results-container {
    margin: ($master-max-width / 40) 0;
    .birthday-container {
      margin: 25px 0 0;
      text-align: center;
      .form-element-label {
        display: inline-block;
        width: 75%;
        background-color: $primary-gray;
        border-radius: 5px;
      }
    }
    .gigasecond-birthday-container {
      border-left: 20px solid $intense-orange;
      border-right: 20px solid $intense-orange;
      border-top: 1px ridge $intense-orange;
      border-bottom: 1px ridge $intense-orange;
      border-radius: 60px;
    }
  }

  .sensitive-form-element {
    label {
      display: inline-block;
      min-width: 35%;
      background-color: $primary-gray;
      border-radius: 5px;
    }
  }
}
